.Rproj.user
.Rhistory
.RData
.Ruserdata
.stan
private/
inst/doc
.exe
.DS_Store
/Meta/
docs
cache
*.html
*.pdf
*.zip
*.exe
inst/stan/hierfunctions_seq_muscalar
inst/stan/hierfunctions_seq_muvector
documentation/hierarchicalmodels_seqruns_files/
documentation/hierdata_files/


